html {
	font-size: 12pt;
}
body {
	font-family: Lato, "Helvetica Neue", Arial, Helvetica, "Source Han Sans Regular", "文泉驛微米黑", "微軟正黑體", sans-serif;
	background-image: url('../images/bg-black.jpg');
	background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	background-attachment: fixed;
	overflow: hidden !important;
}

@media screen and (max-width: 767px) {
	body {
		overflow: visible !important;
	}
}
body.black,
body.black .ui.header {
	color: #fff;
	color: rgba(255,255,255,.8);
}

*::-moz-selection {
	color: #fff;
	background: #999;
}

/* Nav bar */
#Nav{
	position: fixed;
	display: block;
	width: 100%;
	margin: 0px;
	z-index: 9;
	box-shadow: 0 0 10px #666;
	border-radius: 0;
	background: #1B1C1D;
}

.section {
	overflow: hidden;
}
.center.title {
	margin: auto;
	text-align: center;
	width: 70%;
}
.index.section .ui.header { font-size: 3.5rem; }
.ui.center.top.pointing.dropdown > .menu { margin-top: 1rem; }

#global-message { z-index: 2000; }

/* .store.section */

/* #goods */
.ui.cards { padding: 10px 60px 0; }
.ui.cards > .card { cursor: pointer; font-size: 1rem; }
.price > span:before { content: "$" }
.special.price > span:not(.special) { text-decoration: line-through;  }
.special.price > span.special { color: #f00; font-weight: bold;  }
.price:not(.special) > span.special { display: none; }

/* #goods-window */
.ui.modal,
.ui.modal .ui.header { color: #000; color: rgba(0,0,0,.8); }
.ui.basic.modal .ui.header { color: #fff; color: rgba(255,255,255,.8); }
#goods-window > .content > .image { text-align: center; }
#goods-window > .content > .image:after { content: "點此可觀看放大圖"; }
#goods-window > .content > .description > .segment { margin: .5rem 0; color: #000; color: rgba(0,0,0,.8); }
#goods-window > .content > .description img { width: 100%; }
#goods-window > .actions > div { margin-left: .5rem; margin-right: .5rem; }
#goods-window .actions #selector { display: inline-block; }
#goods-window .actions #selector:not(.sub-item) > .ui.dropdown { display: none; }
#goods-window .actions #selector > .ui.dropdown { padding-top: .7rem; padding-bottom: .7rem; }
#goods-window .actions .ui.pagination.menu { margin-top: -4px; }
#goods-window .actions .ui.pagination.menu input[type="text"] {
	width: 50px;
	text-align: center;
}

/* cart */
#cart {
	margin: auto;
	width: 90%;
	padding-bottom: 50px;
}
#cart > .items > .item {
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	transition: background .2s;
}
#cart > .items > .item:not(:first-child):hover {
	background: rgba(255,255,255,.3);
}
#cart a.ui.header { transition: color 0.2s ease 0s; }
body.black #cart a.ui.header { color: #fff; color: rgba(255,255,255,.8); }
#cart a.ui.header:hover { color:#00b2f3; }
#cart .grid { margin-top: 0; margin-bottom: 0; }
#cart .grid .column { font-size: 14pt; }
#cart .grid .column:not(:first-child) { text-align: center; }
#cart .grid .meta:before { content:"顏色/尺寸："; }
body.black #cart .grid .meta { color: #fff; color: rgba(255,255,255,.8); }
#cart .actions { text-align: right; }
#cart .actions .total:before { content:"總金額：$"; }
#cart .actions .total { font-size: 20pt; }

/* query */
#query {
	width: 1000px;
	margin: auto;
}

/* activity */

.activity.section .ui.header { font-size: 3rem; }
.activity.section p { line-height: 170%; font-size: 1.3rem; }
