body {
	font-size: 14pt;
	background-image: url('../images/bg.jpg');
	background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	background-attachment: fixed;
}

*::-moz-selection {
	color: #fff;
	background: #999;
}

/* Nav bar */
#Nav{
	position: fixed;
	display: block;
	width: 100%;
	margin: 0px;
	z-index: 9;
	box-shadow: 0 0 10px #666;
	border-radius: 0;
	background: #fda;
}
.ui.huge.menu .item {
	font-size: 14pt;
}

@media screen and (min-width: 768px) {
#Nav > .item:first-child {
	padding-left: 100px;
	padding-right: 100px;
}
}

.section {
	overflow: hidden;
}
.center.title {
	margin: auto;
	text-align: center;
	width: 70%;
}
.center.title h1 { font-size: 3.5em; }
.center.title h2 { font-size: 2em; }
.ui.center.top.pointing.dropdown > .menu { margin-top: 1em; }
.ui.cards { padding: 10px 50px 0; }
.ui.cards .card { cursor: pointer; }
.price:before { content: "$" }
.special.meta .price:not(.special) { text-decoration: line-through;  }
.special.meta .special.price { color: #f00; font-weight: bold;  }
.meta:not(.special) .special.price { display: none; }

/* for #goods-window */
.ui.basic.modal > .content > .description > .ui.header { color: #fff; }
#goods-window > .content > .description > .segment { margin: .5rem 0; }
#goods-window > .actions > div { margin-left: 0.75em; margin-right: 0.75em; }
#goods-window .actions #selector { display: inline-block; }
#goods-window .actions #selector:not(.sub-item) > .ui.dropdown { display: none; }
#goods-window .actions #selector > .ui.dropdown { padding-top: 0.7em; padding-bottom: 0.7em; }
#goods-window .actions .ui.pagination.menu { margin-top: -4px; }
#goods-window .actions .ui.pagination.menu input[type="text"] {
	width: 50px;
	text-align: center;
}
